RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,QSA]

Redirect 301 www.globalgraphicdesign.eu https://www.globalgraphicdesign.eu
Redirect 301 https://globalgraphicdesign.eu https://www.globalgraphicdesign.eu
Redirect 301 https://globalgraphicdesign.eu/index.php https://www.globalgraphicdesign.eu
Redirect 301 https://www.globalgraphicdesign.eu/index.php https://www.globalgraphicdesign.eu   
Redirect 301 globalgraphicdesign.eu https://www.globalgraphicdesign.eu 
 

<IfModule mod_deflate.c>
AddType x-font/woff .woff
AddType x-font/ttf .ttf
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE font/opentype font/ttf font/eot font/otf
</IfModule>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options nosniff
</IfModule>

<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
</IfModule>
